.wrapper-cart {
  display: block;
  text-align: start;
  .wrapper-products {
    display: flex;
    justify-content: space-evenly;
    .btn-empty-item {
      width: 20px;
      border: 1px solid black;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
  .wrapper-empty-back{
    display: flex;
    justify-content: space-evenly;
    .btn-empty-cart {
      border: 1px solid black;
    }
    .btn-back {
      text-decoration: none;
      border: 1px solid black;
    }

  }
}