.cart_item-list-product {
  display: flex;
  justify-content: space-evenly;
  &:nth-child(2n + 1) {
    background: rgb(212, 212, 27);
  }
  & .back-item-detail {
    cursor: pointer;
    transition: 250ms;
    &:hover {
      background-color: $colorShadow;
      opacity: 0.4;
    }
  }
}
.cart_btn-empty-cart {
  background: #fe8c00;
  background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
  background: linear-gradient(to right, #f83600, #fe8c00);
  border: none;
  border-radius: 5px;
  display: block;
  width: 30%;
  margin: 10px auto;
  color: white;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

.wrapper-empty-back {
  display: flex;
  justify-content: space-evenly;
  & .btn-back {
    background: #fe8c00;
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe8c00);
    border: none;
    border-radius: 5px;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: white;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
  }
}
