// .cart_item-list-product {
//   display: flex;
//   justify-content: space-evenly;
//   &:nth-child(2n + 1) {
//     background: rgb(212, 212, 27);
//   }
//   & .back-item-detail {
//     cursor: pointer;
//     transition: 250ms;
//     &:hover {
//       background-color: $colorShadow;
//       opacity: 0.4;
//     }
//   }
//   & .btn-empty-item {
//     width: 20px;
//     border: 1px solid black;
//     border-top-left-radius: 50%;
//     border-bottom-right-radius: 50%;
//   }
// }

// .wrapper-empty-back {
//   display: flex;
//   justify-content: space-evenly;
//   & .btn-back {
//     text-decoration: none;
//     border: 1px solid black;
//   }
// }
.cart_cart-empty {
  & .view-modal {
    & .modalwindow_wrapper-modal > .container-modal {
      & .header-modal > h3 {
        font-size: 3rem;
      }
    }
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 30px;
    & span {
      font-weight: 600;
      font-size: 1.2rem;
    }
    & button {
      border-radius: 20px;
      background: #ff5500;
      height: 3rem;
      width: 10rem;
      font-size: 1.2rem;
      color: white;
    }
  }
}
// & .view-cart {
// }

.cart_wrapper-products {
  & .show-cart {
    & .btn-empty-cart {
      border: 1px solid black;
    }
  }
}
