.cartlist_wrapper-products {
  & .view-modal {
    & .modalwindow_wrapper-modal > .container-modal {
      & .header-modal > h3 {
        font-size: 3rem;

      }
    }
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 30px;
    & span {
      font-weight: 600;
      font-size: 1.2rem;
    }
    & button {
      border-radius: 20px;
      background: #FF5500;
      height: 3rem;
      width: 10rem;
      font-size: 1.2rem;
      color: white;
    }
  }
  & .view-cart {
    
  }
  & .show-cart {
    & .btn-empty-cart {
      border: 1px solid black;
    }
  }
}
