.cart-widget {
  position: relative;
  width: 3em;
  height: 2.5em;
  border-radius: 50%;
  background: lightblue;
  .badge,
  .badge-opacity {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    font-size: 0.5rem;
    font-weight: 700;
    transform: translate(135%);
    padding: 2px;
    border-radius: 50%;
    color: white;
    background: rgb(207, 55, 55);
    opacity: 1;
  }
  .badge-opacity {
    opacity: 0;
  }

  .img-cart-widget {
    // margin-top: -8px;
    width: 90%;
  }
}
