@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /*fonts*/
  --font-poppins: "Poppins", sans-serif;
}
$colorsNav: (
  primary: #2d2c34 5%,
  secondary: #1a1a45 26%,
  tertiary: #086d82 76%,
);

$colorShadow: #0000004d;

$colorBGC: #f0f0f04d;

$colorFont: #00000066;

$colorPrice: #df1d31;
